{% extends 'layout.html' %}
{% load static %}

{% block title %}
    AfiDu - Class List
{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <!-- header -->
        <div class="bg-[#ff4f25] rounded-lg shadow-lg p-6 mb-8 flex flex-col sm:flex-row items-center justify-between">
        <div class="flex items-center space-x-4">
            <a href="{% url 'students:student-list' %}" class="bg-white text-[#ff4f25] hover:bg-gray-100 rounded-full w-10 h-10 flex items-center justify-center shadow transition">
            <i class="fa-solid fa-arrow-left"></i>
            </a>
            <h1 class="text-3xl font-bold text-white">Class Configuration</h1>
        </div>
        <a href="{% url 'students:class-add' %}" class="bg-white text-[#ff4f25] hover:bg-gray-100 rounded-full w-12 h-12 flex items-center justify-center shadow transition">
            <i class="fa-solid fa-plus"></i>
        </a>
        </div>
    
        <!-- class cards -->
        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
        {% for class in classes %}
            <div class="relative bg-white rounded-lg shadow-xl overflow-hidden transform hover:scale-105 transition duration-300">
            <div class="absolute inset-0 bg-white opacity-10"></div>
            <div class="p-6 relative">
                <div class="flex justify-between items-start mb-2">
                    <h2 class="text-2xl font-bold text-gray-800">{{ class.name }}</h2>
                    <div class="flex flex-col items-end space-y-1">
                        <!-- clss time badge -->
                        <span class="inline-flex items-center px-2 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-600 border border-gray-300">
                            {{ class.start_time|time:"H:i" }} - {{ class.end_time|time:"H:i" }}
                        </span>
                        <span class="inline-flex items-center px-2 py-0.5 rounded-md text-xs font-medium bg-gray-100 text-gray-600 border border-gray-300">
                            {{ class.current_student_count }}/{{ class.max_students }} students
                        </span>
                    </div>
                </div>
                
                {% if class.description %}
                <p class="text-gray-600 mb-4">{{ class.description }}</p>
                {% else %}
                <p class="text-gray-600 mb-4 italic">No description provided.</p>
                {% endif %}

                <div class="flex justify-end space-x-2">
                <a href="{% url 'students:class-edit' class.pk %}" class="flex items-center px-2 py-2 bg-gray-200 hover:bg-gray-300 text-[#5a5656] text-xs rounded shadow transition transform hover:-translate-y-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536M9 11l3 3 8-8a2.828 2.828 0 00-4-4l-8 8v3h3z" />
                    </svg>
                    Edit
                </a>
                <a href="{% url 'students:class-delete' class.pk %}" class="flex items-center px-2 py-2 bg-[#ff4f25] hover:bg-[#cc3f1e] text-white text-xs rounded shadow transition transform hover:-translate-y-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                    Delete
                </a>
                </div>
            </div>
            </div>
        <!-- if no class present -->
        {% empty %}
            <div class="col-span-full text-center text-gray-600">No classes found.</div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
