<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}AfiDu{% endblock %}</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'students:student-list' %}">Students</a></li>
            <li><a href="">Scores</a></li>
            <li><a href="{% url 'study_materials:list' %}">Materials</a></li>
            <li><a href="">Report</a></li>
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>

        </ul>
    </nav>

    <div>
        {% block content %}

        {% endblock %}
    </div>

    <footer>
        <p>&copy;2025 AfiDu</p>
    </footer>
</body>

</html>
