{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}AfiDu{% endblock %}</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'students:student-list' %}">Students</a></li>
            <li><a href="">Scores</a></li>
            <li><a href="{% url 'study_materials:list' %}">Materials</a></li>
            <li><a href="">Report</a></li>
            <li>
                <!-- hamburger menu -->
                <div class="dropdown">
                    <button id="user-dropdown-toggle" type="button">&#9776;</button>
                    <div id="user-dropdown-menu" style="display: none;">
                        <div class="profile-header">
                            <img src="{% static 'images/blank_profile.png' %}" alt="Profile Picture" style="width: 30px; border-radius: 50%;">
                            <span>{{ request.user.first_name }}</span>
                        </div>
                        <ul>
                            <li><a href="{% url 'myprofile:profile' %}">My Profile</a></li>
                            <li><a href="{% url 'register:register' %}">Register Account</a></li>
                            <li>
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <div>
        {% block content %}

        {% endblock %}
    </div>

    <footer>
        <p>&copy;2025 AfiDu</p>
    </footer>

    <script>
    document.getElementById('user-dropdown-toggle').addEventListener('click', function() {
        let menu = document.getElementById('user-dropdown-menu');
        if (menu.style.display === 'none' || menu.style.display === '') {
            menu.style.display = 'block';
        } else {
            menu.style.display = 'none';
        }
    });
</script>
</body>

</html>
