# Database
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Backblaze B2
B2_ENDPOINT_URL=
B2_REGION_NAME=
B2_BUCKET_NAME=
B2_KEY_ID=
B2_APPLICATION_KEY=

# Microsoft Clarity for data collection (opt out by default)
NEXT_PUBLIC_CLARITY_PROJECT_ID=
