{% extends 'layout.html' %}

{% block title %}
    AfiDu - Study Materials
{% endblock %}

{% block content %}

<h1>Study Materials</h1>
<a href="{% url 'study_materials:upload' %}">+</a>

{% regroup materials|dictsort:"category" by category as grouped_materials %}

{% for group in grouped_materials %}
  <h2>{{ group.grouper|capfirst }}</h2>
  <ul>
    {% for material in group.list %}
      <li>
        {% if material.get_file_extension == "pdf" %}
          <a href="{{ material.file.url }}" target="_blank">
        {% else %}
          <a href="{{ material.file.url }}" download>
        {% endif %}
            {% if material.thumbnail %}
              <img src="{{ material.thumbnail.url }}" alt="{{ material.title }} Thumbnail" width="100">
            {% else %}
              <img src="/static/icons/pdf_icon.png" alt="PDF Thumbnail" width="50" height="50">
            {% endif %}
            {{ material.title }}
          </a>
        <div>
          Uploaded by:
          {% if material.uploaded_by %}
            {% if material.uploaded_by.first_name %}
              {{ material.uploaded_by.first_name }}
            {% else %}
              {{ material.uploaded_by.email }}
            {% endif %}
          {% else %}
            Unknown
          {% endif %}
        </div>
        <div>
          Uploaded at: {{ material.uploaded_at|date:"M d, Y H:i" }}
        </div>
        <div>
          Edited at: {{ material.edited_at|date:"M d, Y H:i" }}
        </div>
        <!-- menu untuk toggle edit/delete -->
        <button onclick="toggleMenu('menu-{{ material.id }}')">...</button>
        <div id="menu-{{ material.id }}" style="display: none;">
          <a href="{% url 'study_materials:edit' material.id %}">Edit</a>
          <a href="{% url 'study_materials:delete' material.id %}">Delete</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endfor %}

<script>
  function toggleMenu(id) {
      var menu = document.getElementById(id);
      menu.style.display = (menu.style.display === "none") ? "block" : "none";
  }
</script>

{% endblock %}
